doctype html
html(lang='en')
  head
    title Gulp Start
    script(src='scripts/main.js', type='text/javascript')
    link(href='styles/main.css', rel='stylesheet')
  body
    main
      img.logo(src='/images/gulp.svg')
      h1 Gulp Start
      p This is a simple Gulp Starter template that provides support for ES6.
      p The #[code gulpfile.js] is heavily commented and uses a line length of 80 characters. If you have any improvements, submit an #[a(href='https://github.com/sjaakvandenberg/gulp-start/issues', title='File a new issue on Github') issue] or #[a(href='https://github.com/sjaakvandenberg/gulp-start/pulls', title='Submit pull request on Github') PR] on #[a(href='https://github.com/sjaakvandenberg/gulp-start', title='gulp-start on Github') Github].
      h2 Includes
      ul
        li #[a(href='http://jade-lang.com/', title='Jade Templating') Jade Templating]
        li #[a(href='https://learnboost.github.io/stylus/', title='Stylus') Stylus]
        li #[a(href='http://es6-features.org/', title='ECMAScript 6') ECMAScript 6]
        li #[a(href='http://bower.io/', title='Bower') Bower]
        li #[a(href='http://www.browsersync.io/', title='Browsersync') Browsersync]
        li Asset minification
        li Fonts
          ul
            li #[a(href='https://www.google.com/fonts/specimen/Merriweather', title='Merriweather on Google Fonts') Merriweather]
            li #[a(href='https://www.google.com/fonts/specimen/Open+Sans', title='Open Sans on Google Fonts') Open Sans]
            li #[a(href='https://www.google.com/fonts/specimen/Fira+Mono', title='Fira Mono on Google Fonts') Fira Mono]
      pre
        code.
          browser-sync, del, gulp, gulp-babel, gulp-changed, gulp-concat, gulp-htmlmin, gulp-imagemin, gulp-jade, gulp-minify-css, gulp-rename, gulp-stylus, gulp-uglify, gulp-watch, imagemin-pngquant
      p Made by #[a(href='https://twitter.com/svdb', title='@svdb') @svdb].