doctype html
html(lang="en")
    head
        title Gulp Start
        script(src='scripts/main.js', type='text/javascript')
        link(href='styles/main.css', rel='stylesheet')
    body
        h1 Gulp Start
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam explicabo accusamus tenetur autem necessitatibus voluptatibus dolorem, iure deserunt molestias minima.
        h1 Supports
        ul
            li Jade templates
            li Stylus stylesheets
            li Browsersync
            li Asset minification
